.btn-add{
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
    background-color: green;
    border:none;
    padding: 13px;
}

.btn-clear{
    margin-top: 20px;
    width: auto;
    padding: 13px 20px;
    
    color: white;
    background-color: #cc0000;
    border: none;
    text-transform: uppercase;
}
.btn-clear:hover, .btn-add:hover{
    opacity: 0.8;
}

p{
    font-size: 20px;
    padding-left: 15px;
}

